{% extends 'base.html' %}
{% block content %}

<h1>{{ instrument.name }}</h1>

<div class="card">
    <div class="card-content">
        <p>Manufacturer: {{ instrument.manufacturer }}</p>
        <p>Manufacture Year: {{ instrument.year }}</p>
        <p>Serial No: {{ instrument.serial }}</p>
        <p>Type: {{ instrument.instrument_type }}</p>
        <p>Price: {{ instrument.price }}</p>
        <p>Condition: {{ instrument.get_condition_display }}</p>
        <p>Owned?: {{ instrument.owned }}</p>
    </div>
    <div class="card-action blue-grey accent-1">
        <a href="{% url 'instruments_update' instrument.id %}">Edit</a>
        <a href="{% url 'instruments_delete' instrument.id %}">Delete</a>
    </div>
</div>


{% endblock %}