{% extends 'base.html' %}
{% block content %}

<h1>Instruments</h1>
<div class="row">
{% for instrument in instruments %}
    <div class="col s12 m6 l4">
        <a href="{% url 'instruments_detail' instrument.id %}">
            <div class="card hoverable large">
                <div class="card-image">
                    <img src="https://via.placeholder.com/150">
                    <span class="card-title">{{ instrument.name }}</span>
                </div>
                <div class="card-content">
                    <p>Manufacturer: {{ instrument.manufacturer }}</p>
                    <p>Type: {{ instrument.instrument_type }}</p>
                    <p>Owned?: {{ instrument.owned }}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
</div>

<hr>

<h1>Accessories</h1>
<div class="row">
{% for accessory in accessories %}
    <div class="col s12 m6 l4">
        <a href="{% url 'accessories_detail' accessory.id %}">
            <div class="card hoverable large">
                <div class="card-image">
                    <img src="https://via.placeholder.com/150">
                    <span class="card-title">{{ instrument.name }}</span>
                </div>
                <div class="card-content">
                    <p>Manufacturer: {{ accessory.manufacturer }}</p>
                    <p>Type: {{ accessory.accessory_type }}</p>
                    <p>Owned?: {{ accessory.owned }}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
</div>

{% endblock %}